* {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.card {
  border: 0 solid white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #ecf0f3;
  color: #a0a5a8;
}
.bg_card {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 0 8px 8px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 0;
}
.bt_feature {
  background-color: #4b70e2;
  color: white;
  border-radius: 25px;
  border: none;
  outline: 0;
  padding: 12px 45px;
  transform: scale(1);
  transition: all 0.3s;
}
.bt_feature:focus,
.bt_feature:hover {
  background-color: #4b70e2 !important;
  color: white !important;
  transform: scale(0.97);
}
.form_ip {
  padding: 10px 15px;
  background-color: #ecf0f3;
  border: none;
  border-radius: 8px;
  outline: 0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: 0.3s ease;
}
.form_ip:focus {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.note {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  background: #fff;
  color: #31344b;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
  border-left-color: rgba(0, 162, 255, 0.938);
}
#note {
  border-left-color: rgb(240, 240, 24);
  border-left-width: 6px;
}
